<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="nosService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="http://feeds.nos.nl/nosnieuwsalgemeen" />
    </bean>
    <bean name="bbcWorldService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="http://feeds.bbci.co.uk/news/world/rss.xml" />
    </bean>

    <bean name="bbcTechService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="http://feeds.bbci.co.uk/news/technology/rss.xml" />
    </bean>

    <bean name="bbcTopService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value=" http://feeds.bbci.co.uk/news/rss.xml" />
    </bean>

    <bean name="bbcArtsService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="http://feeds.bbci.co.uk/news/entertainment_and_arts/rss.xml" />
    </bean>

    <bean name="wsjService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="https://feeds.a.dj.com/rss/RSSWorldNews.xml" />
    </bean>

    <bean name="nunlService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="https://www.nu.nl/rss/Algemeen" />
    </bean>
    <bean name="nieuwsnlService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="https://nieuws.nl/feed/" />
    </bean>
    <bean name="weatherScraper" class="com.fjbproductions.scrapert.TurboScraper">
        <property name="scrapeURL" value="https://www.weerplaza.nl/nederland/amsterdam/5575/" />
        <property name="cuttingPoints">
            <array value-type="java.lang.String">
                <value>geo-5575 temp&quot;&gt;</value>
                <value>°&lt;/span&gt;</value>
                <value>Neerslag: &lt;em&gt;</value>
                <value>&lt;/em&gt;</value>
                <value>Wind: &lt;em&gt;</value>
                <value>&lt;/em&gt;</value>
                <value>Druk: &lt;em&gt;</value>
                <value>&lt;/em&gt;</value>
                <value>Vochtigheid: &lt;em&gt;</value>
                <value>&lt;/em&gt;</value>
            </array>
        </property>
    </bean>
</beans>