<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="nosService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="http://feeds.nos.nl/nosnieuwsalgemeen" />
    </bean>
    <bean name="cnnService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="http://rss.cnn.com/rss/edition_world.rss" />
    </bean>
    <bean name="bbcService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="http://feeds.bbci.co.uk/news/world/rss.xml" />
    </bean>
    <bean name="nunlService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="https://www.nu.nl/rss/Algemeen" />
    </bean>
    <bean name="nieuwsnlService" class="com.fjbproductions.scrapert.FeedReader">
        <property name="feedURL" value="https://nieuws.nl/feed/" />
    </bean>
</beans>